{% load active_link_tags %}
{% load static %}
<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         {% if user.user_type == '1' %}
         <ul>
            {% comment %}<li class="menu-title">
               <span>Main Menu</span>
            </li>{% endcomment %}
            <li class = "{% active_link 'principal_home' 'active' %}">
                  <a href="{% url 'principal_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
            </li>

            <li class="submenu {% active_link 'add_teacher' 'active' %} {% active_link 'view_teacher' 'active' %}">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
               <ul>

                  <li><a href="{% url 'add_teacher' %}">Add Teacher</a></li>
                  <li><a href="{% url 'view_teacher' %}">View Teacher</a></li>
                  
               </ul>
            </li>
            <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
               <ul>
                  
                  <li><a href="{% url 'add_student' %}">Add Student</a></li>
                  <li><a href="{% url 'view_student' %}">View Student</a></li>
                  
               </ul>
            </li>
            
            <li class="submenu {% active_link 'add_course' 'active' %} {% active_link 'view_course' 'active' %}">
               <a href="#"><i class="fas fa-building"></i> <span> Courses</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_course' %}">Add Course</a></li>
                  <li><a href="{% url 'view_course' %}">View Course</a></li>
                  
               </ul>
            </li>
            {% comment  %}
            <li class="submenu">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="add-subject.html">Add Subject</a></li>
                  <li><a href="subjects.html">View Subject</a></li>
                  
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Session</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="subjects.html">Session View</a></li>
                  <li><a href="add-subject.html">Session Add</a></li>
                  <li><a href="edit-subject.html">Session Edit</a></li>
               </ul>
               {% endcomment %}
               <li>
                  
                  <a href="holiday.html"><i class="fas fa-holly-berry"></i> <span>View Attendens</span></a>
               </li>
               <li>
                  
                  <a href="{% url 'teacher_send_notifiction' %}"><i class="fas fa-holly-berry"></i> <span>Send Notifications to Teacher</span></a>
               </li>
               
               <li>
                  
                  <a href="{% url 'teacher_leave_view' %}"><i class="fas fa-holly-berry"></i> <span>Teachers Leaves</span></a>
               </li>
               <li>
                  
                  <a href="{% url 'student_leave_view' %}"><i class="fas fa-holly-berry"></i> <span>Students Leaves</span></a>
                  
               </li>
               <li>
                  <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                  
               </li>
            </li>
            
         </ul>
         
         {% elif user.user_type == '2' %}
         <ul>
            {% comment %}<li class="menu-title">
               <span>Main Menu</span>
            </li>{% endcomment %}
            <li class = "{% active_link 'teacher_home' 'active' %}">
                  <a href="{% url 'teacher_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
            </li>
            <li class = "{% active_link 'teacher_take_attendance' 'active' %}">
               <a href="{% url 'teacher_take_attendance' %}"><i class="fas fa-holly-berry"></i> <span>Take Attendens</span></a>
            </li>
            <li class = "{% active_link 'teacher_view_attendance' 'active' %}">
               <a href="teacher_view_attendance"><i class="fas fa-holly-berry"></i> <span>View/Update Attendens</span></a>
            </li>
            <li class = "">
               <a href=""><i class="fas fa-holly-berry"></i> <span>Add Result</span></a>
            </li>
            <li class = "{% active_link 'teacher_leave_apply' 'active' %}">
               <a href="{% url 'teacher_leave_apply' %}"><i class="fas fa-holly-berry"></i> <span>Apply For Leave</span></a>
            </li>
            <li class = "{% active_link 'notifications_tec' 'active' %}">
               <a href="{% url 'notifications_tec' %}"><i class="fas fa-bell"></i> <span>Notifications</span></a>
            </li>
            <li>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
               
            </li>



         </ul>

         {% else %}
         <ul>
            {% comment %}<li class="menu-title">
               <span>Main Menu</span>
            </li>{% endcomment %}
            <li class = "{% active_link 'student_home' 'active' %}">
                  <a href="{% url 'student_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
            </li>
            <li class = "{% active_link 'student_home' 'active' %}">
               <a href="{% url 'student_home' %}"><i class="fas fa-holly-berry"></i> <span>View Result</span></a>
            </li>
            <li class = "{% active_link 'studnet_apply_leave' 'active' %}">
               <a href="{% url 'studnet_apply_leave' %}"><i class="fas fa-holly-berry"></i> <span>Apply For Leave</span></a>
            </li>
            
            <li>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
               
            </li>



         </ul>

         {% endif %}


      </div>
   </div>
</div>