
{% extends 'base.html' %}
{% block content %}
<center>

<div class="col-sm-6">
   <div class="card">
      <div class="card-body">
         
         <form method="post" style="margin-top:70px" novalidate>
            {% csrf_token %}
            <div class="col-6">
               <h5 class="form-title"><span>Add Teacher</span></h5>
            </div>

            {{testform.as_p}}
               
               
               
               <br>
               <div class="col-10">
                  <button type="submit" class="btn btn-primary">Add Teacher</button>
               </div>
         </form>
      
         </div>
      </div>
   </div>
</center>
{% endblock %}	